@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");

@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Regular-Web.eot");
  src: url("../fonts/Graphik-Regular-Web.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Graphik-Regular-Web.woff2") format("woff2"),
    url("../fonts/Graphik-Regular-Web.woff") format("woff"),
    url("../fonts/Graphik-Regular-Web.ttf") format("truetype");
}

html {
  background: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: "Graphik LCG", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.03em;
  color: #2e2e2e;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 24px;
}

@media (min-width: 576px) {
  .wrapper {
    padding: 0 16px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    padding: 0;
  }
}

.headroom {
  padding-top: 12px;
  background: transparent;
}

.headroom--pinned {
  padding-top: 0;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.025);
}

.headroom--pinned svg {
  fill: #2e2e2e;
}

.headroom--pinned span,
.headroom--pinned a span {
  color: #2e2e2e;
}
